<div>
    <h2 id="page-heading">
        <span jhiTranslate="fixEpochApp.address.home.title">Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address" [routerLink]="['/address/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fixEpochApp.address.home.createLabel">
            Create a new Address
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
        <span jhiTranslate="fixEpochApp.address.home.notFound">No addresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="addresses && addresses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationAddressLineOne"><span jhiTranslate="fixEpochApp.address.locationAddressLineOne">Location Address Line One</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationAddressLineTwo"><span jhiTranslate="fixEpochApp.address.locationAddressLineTwo">Location Address Line Two</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="landMark"><span jhiTranslate="fixEpochApp.address.landMark">Land Mark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postalCodeId"><span jhiTranslate="fixEpochApp.address.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cityId"><span jhiTranslate="fixEpochApp.address.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stateId"><span jhiTranslate="fixEpochApp.address.state">State</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addresses ;trackBy: trackId">
                    <td><a [routerLink]="['/address', address.id, 'view']">{{ address.id }}</a></td>
                    <td>{{ address.locationAddressLineOne }}</td>
                    <td>{{ address.locationAddressLineTwo }}</td>
                    <td>{{ address.landMark }}</td>
                    <td>
                        <div *ngIf="address.postalCodeId">
                            <a [routerLink]="['/postel-code', address.postalCodeId , 'view']" >{{ address.postalCodeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="address.cityId">
                            <a [routerLink]="['/city', address.cityId , 'view']" >{{ address.cityId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="address.stateId">
                            <a [routerLink]="['/state', address.stateId , 'view']" >{{ address.stateId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/address', address.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/address', address.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(address)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="addresses && addresses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
