<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>View Our Client Firms</title>
<link href="content/barbershopFirms/css/css.css" rel="stylesheet" type="text/css">
<link href="content/barbershopFirms/css/font-awsome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="content/barbershopFirms/font/fontawsome/font-awseome.min.css">
</head>

<body>


    <header>
      <div class="main">
        <!-- <div class="logo">
          <img src="com/img/logo.jpeg">
        </div> -->
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#firms">Firms</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">Contact</a></li>
      </div>
      <div class="title">
        <h2>We Helps You To Look better</h2>
      </div>
      <div class="button">
        <a href="#firms" class="btn">View Our Client Firms</a>
      </div>
    </header>

    


  <div class="firms-area" id="firms"> 
      
      <!-- Header -->
<div class="description">
  <h1>At Your Service</h1>
  <p>These Are The Most Trusted Firms In Your Town.</p>
</div>

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <div>
      <h2><b>Beardo</b></h2>
      <img src="content/barbershopFirms/img/img1.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
    <div>
      <h2 style="margin-top: 23px;"><b>Razor King</b></h2>
      <img src="content/barbershopFirms/img/img2.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
  </div>

  <div class="column">
     <div>
      <h2><b>Razor King</b></h2>
    <img src="content/barbershopFirms/img/img3.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
     <div>
      <h2 style="margin-top: 23px;"><b>Razor King</b></h2>
    <img src="content/barbershopFirms/img/img4.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>    
  </div>

  <div class="column">
       <div>
      <h2><b>Razor King</b></h2>
          <img src="content/barbershopFirms/img/img5.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">
        <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
     <div>
      <h2 style="margin-top: 23px;"><b>Razor King</b></h2>
          <img src="content/barbershopFirms/img/img8.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>

   
  </div>
  <div class="column">
        <div>
      <h2><b>Razor King</b></h2>
          <img src="content/barbershopFirms/img/img9.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
        <div>
      <h2 style="margin-top: 23px;"><b>Razor King</b></h2>
          <img src="content/barbershopFirms/img/img10.jpg" style="width:100%;height: 200px;margin-bottom: 40px;">

      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <a href="#" class="btn-book">Book</a>
    </div>
    
  </div>
</div>

   </div>  
   
  
          

    <div class="about-area" id="about" style="margin-top:10rem">
      <div class="text-part">
          <h1>About</h1>
          <hr>
          <h2 class="text-dark mt-0">We've got what you need!</h2>
                        <p class="text-dark-50 mb-4" style="padding: 30px;font-size: 17px">We provide better quality barbershops ,Where You can relax and get groomed .Our Friendly, barber shop firms delivers the best haircuts,shaves and spa service in town.You can explore our client firms now</p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#firms" style="border-radius: 25px;font-size: 22px">Get Started!</a> 
      </div>
      
    </div>

     <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  


  <!-- Javascript files -->
    <script src="content/barbershopFirms/js/back2top.js"></script>
    <script src="content/barbershopFirms/js/slider.js"></script>
</body>
</html>
