<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-time-slot-heading" jhiTranslate="fixEpochApp.timeSlot.home.createOrEditLabel">Create or edit a Time Slot</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.timeSlot.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                           formControlName="startTime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.timeSlot.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                           formControlName="endTime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.timeSlot.timeSlotLabel" for="field_timeSlotLabel">Time Slot Label</label>
                    <select class="form-control" name="timeSlotLabel" formControlName="timeSlotLabel" id="field_timeSlotLabel">
                        <option value="MORNING">{{ 'fixEpochApp.TimeSlotLabel.MORNING' | translate }}</option>
                        <option value="AFTERNOON">{{ 'fixEpochApp.TimeSlotLabel.AFTERNOON' | translate }}</option>
                        <option value="EVENING">{{ 'fixEpochApp.TimeSlotLabel.EVENING' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
