<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-provided-service-heading" jhiTranslate="fixEpochApp.providedService.home.createOrEditLabel">Create or edit a Provided Service</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.providedService.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.providedService.serviceImage" for="field_serviceImage">Service Image</label>
                    <div>
                        <img [src]="'data:' + editForm.get('serviceImageContentType')!.value + ';base64,' + editForm.get('serviceImage')!.value" style="max-height: 100px;" *ngIf="editForm.get('serviceImage')!.value" alt="providedService image"/>
                        <div *ngIf="editForm.get('serviceImage')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('serviceImageContentType')!.value }}, {{ byteSize(editForm.get('serviceImage')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('serviceImage', 'serviceImageContentType', 'file_serviceImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_serviceImage" (change)="setFileData($event, 'serviceImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="serviceImage" id="field_serviceImage"
                           formControlName="serviceImage"/>
                    <input type="hidden" class="form-control" name="serviceImageContentType" id="field_serviceImageContentType"
                           formControlName="serviceImageContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fixEpochApp.providedService.firm" for="field_firm">Firm</label>
                    <select class="form-control" id="field_firm" name="firm" formControlName="firmId">
                        <option *ngIf="!editForm.get('firmId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="firmOption.id" *ngFor="let firmOption of firms; trackBy: trackById">{{ firmOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('firmId')!.invalid && (editForm.get('firmId')!.dirty || editForm.get('firmId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('firmId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
